<div class="custom-input" [formGroup]="formGroup">
  <label
    class="custom-input__label"
    *ngIf="label"
    [for]="name"
  >
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>
  <input
    class="custom-input__field field"
    [ngClass]="{ 'is-invalid': field.invalid && (field.dirty || field.touched) }"
    [type]="type"
    [formControlName]="name"
    [id]="name"
    [placeholder]="placeholder"
  >
  <app-field-errors
    class="custom-input__error"
    [field]="field"
    [minLength]="minLength"
    [maxLength]="maxLength"
  />
</div>
