@import 'normalize.css/normalize.css';
@import './base/variables';
@import './base/fields';
@import './base/forms';
@import './base/buttons';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--primary-black);
  color: var(--white);
}

input, textarea, select {
  border: none;
  outline: none;
}
