.register-page {
  &__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
  }

  &__form {
    max-width: 500px;
    width: 100%;
  }
}
